<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HolidayBookingSystem.Properties.Settings.kc9379mConnectionString"
            connectionString="Data Source=sql-server;Initial Catalog=kc9379m;User ID=kc9379m;Password=!1SQLServer"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>